//colors
$colorBlue: #15547e;
$colorDarkBlue: #1b262c;
$colorLinks: #3282b8;
$colorlightBlue: #bbe1fa;
$colorWhite: #fff;
$colorLightGray: #efefef;
$colorGray: #c7c7c7;
$colorBlack: #000;
$colorRed: #f00;
$colorYellow: #e9e500;

//Gradient
$gradientGray: linear-gradient($colorLightGray 25%, #dadada 75%);

//rem
$rem1c5: 1.5rem;
$rem1: 1rem;
$rem2: 2rem;

//medias
$firstMedia: 768px;
$twoMedia: 1024px;