//colors
$colorBlue: #15547e;
$colorDarkBlue: #1b262c;
$colorLinks: #3282b8;
$colorlightBlue: #bbe1fa;
$colorWhite: #fff;

//rem
$rem1c5: 1.5rem;
$rem1: 1rem;
$rem2: 2rem;

//medias
$firstMedia: 768px;
$twoMedia: 1024px;