@mixin ulReset{
    list-style: none;
    padding: 0;
    margin: 0;
}
@mixin titleReset{
    margin: 0;
}
@mixin flexPosition($flexDirection, $justifyContent, $alignItems){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
@mixin alertBase($bg,$color,$border){
    background: $bg;
    color: $color;
    border: 1px solid $border;
}
@mixin btn($bg,$color,$borderRadius){
    background: $bg;
    color: $color;
    border-radius: $borderRadius;
}
@mixin alertLink($color){
    color: $color;
    font-weight: bold
}
@mixin hiddenMobile{
    display: none;
}
@mixin gridTemplate($grid){
    display: grid;
    grid-template-columns: $grid;
}
@mixin borderRadius($color,$pixel,$radius){
    border: $pixel solid $color;
    border-radius: $radius;
}
@mixin uploadFileButton{
    input[type=file]{
        display: none
    }
}
@mixin formInputBase($color){
    border: 5px solid $color;
    padding: 0.4rem;
    margin-top: 5px;
    border-radius: 5px;
    color: $color;
    &:focus{
        outline: 2px solid $color;
    }
}


//icons
@mixin cardIcon($color,$color2) {
    height: 14px;
    &:before{
        content: "";
        display: inline-block;
        width: 10px;
        height: 14px;
        background: $color;
        border: 1px solid $color2;
    }
}
@mixin capitainIcon {
    &:before{
        content: "C";
        font-style: normal;
        font-weight: bold;
        line-height: 1;
        display: inline-block;
    }
}