<%- include("../../partials/head.ejs",{title: "Inicio"})  %> 
<%- include("../../partials/header.ejs")  %> 
<section class="gralCont">
    <div class="carrouselCont">
        <div class="carrouselItemCont">
            <div class="carrouselItem sliderShow"  data-id="1" style="background: #45551a;">
                primero
            </div>
            <div class="carrouselItem" data-id="2"  style="background: #53554d;">
                segundo
            </div>
            <div class="carrouselItem" data-id="3"  style="background: #2e7896;">
                tercero
            </div>
            <div class="arrowCarrouselCont">
                <div class="leftCarrousel">
                    <i class='bx bxs-chevron-left'></i>
                </div>
                <div class="rightCarrousel">
                    <i class='bx bxs-chevron-right' ></i>
                </div>
            </div>
        </div>
    </div>
    <div class="lastResult">
        <h4>Ultimos resultados</h4>
        <div class="fixtureHome">
            <div class="teamLastResult"></div>
            <div class="teamLastResultData">
                <div>1 - 1</div>
                <div>Torneo: x</div>
            </div>
            <div class="teamLastResult"></div>
        </div>
        <div class="fixtureHome">
            <div class="teamLastResult"></div>
            <div class="teamLastResultData">
                <div>1 - 1</div>
                <div>Torneo: x</div>
            </div>
            <div class="teamLastResult"></div>
        </div>
    </div>
    <div class="sponsorsHome">
        <h4>Nos acompañan</h4>
        <div class="sponsorItemsCont">
            <div class="sponsorItem"></div>
            <div class="sponsorItem"></div>
            <div class="sponsorItem"></div>
            <div class="sponsorItem"></div>
            <div class="sponsorItem"></div>
            <div class="sponsorItem"></div>
        </div>
    </div>
</section>
<%- include("../../partials/footer.ejs")  %> 