<p class="pInstall">
    En el siguiente formulario debera introducir los datos para la conexi칩n a la base de datos.
    Si no sabe esta informaci칩n deber치 contactarse con su proveedor de hosting
</p>
<form action="/install/setupDb" class="formInstall" method="post">
    <% if (errQuery) { %>
        <div class="alertDanger">
            Lo siento, hubo un problema al intentar conectar la base de datos <br> 
            verifique sus datos. Si piensa que no es su error puede intentar editar el archivo ".env" manualmente. <br>
        </div>
    <% } %>
    <div class="divForm">
        <label for="nameDB">
            Nombre de la base de datos
        </label>
        <input type="text" name="name" id="nameDB">
    </div>
    <div class="divForm">
        <label for="userDB">
            Nombre de usuario de la base de datos
        </label>
        <input type="text" name="user" id="userDB">
    </div>
    <div class="divForm">
        <label for="passDB">
            Contrase침a de la base de datos
        </label>
        <input type="password" name="pass" id="passDB">
    </div>
    <div class="divForm">
        <label for="serverDB">
            Servidor de la base de datos
        </label>
        <input type="text" name="server" id="serverDB">
    </div>
    <input class="btnLink" type="submit" value="Continuar">
</form>