
<h2>¡Todo bien!</h2>
<p>Ahora podemos continuar con la instalación.</p>
<p>Para esto contamos con 2 caminos</p>
<ul>
    <li>Versión Demo</li>
    <li>Versión Base</li>
</ul>
<p>En la versión demo vamos a poder tener una página con registros de prueba con los que vas a poder ver el funcionamiento de toda la web.</p>
<p>En la versión base vas a poder crear,configurar la web de cero y dejarla lista para empezar a organizar tus torneos</p>
<div>
    <a class="btnLink" href="/install/odet-version?type=demo">Ejecutar instalación demo</a>
    <a class="btnLink" href="/install/odet-version?type=base">Ejecutar instalación base</a>
</div>