<h4 class="titleDBConfirm">¡Todo bien!</h4>
<p class="pInstall">Ahora podemos continuar con la instalación.</p>
<p class="pInstall">Para esto contamos con 2 caminos</p>
<ul>
    <li>Versión Demo</li>
    <li>Versión Base</li>
</ul>
<div>
    <p class="pInstall">En la versión demo vamos a poder tener una página con registros de prueba con los que vas a poder ver el funcionamiento de toda la web.</p>
    <a class="btnLink" href="/install/odet-version?type=demo">Ejecutar instalación demo</a>
</div>
<div>
    <p class="pInstall">En la versión base vas a poder crear,configurar la web de cero y dejarla lista para empezar a organizar tus torneos</p>
    <a class="btnLink" href="/install/odet-version?type=base">Ejecutar instalación base</a>
</div>