<%- include("../../partials/menuHeader.ejs") %>
<section class="contPrin">
    <div class="infoWeb"> En desarrollo <a href="/teams">VOLVER</a></div>
    <div class="teamCardCont">
        <div class="teamCardHeader">
            <img class="crestTeamInfo" src="/img/teams/<%= teamConsult.avatars.image %>" alt="team avatar">
            <h4><%= teamConsult.name %></h4>
        </div>
    </div>
    <nav class="teamCardNav">
        <ul class="teamCardUl">
            <a class="link" href="/teams/1/info"><li class="teamCardLi">Partidos</li></a>
            <a class="link" href="/teams/1/position"><li class="teamCardLi">Posiciones</li></a>
            <a class="link" href="/teams/1/players"><li class="teamCardLi">Jugadores</li></a>
            <a class="link" href="/teams/1/detail"><li class="teamCardLi">Informacion</li></a>
        </ul> 
    </nav>