<%- include("../../partials/head",{title:"Odet - Posiciones"}) %>
<%- include("headPartialDetail") %>
    <div class="infoWeb">En desarrollo</div>
    <h3>Torneo: Nombre del torneo - División: 1ra</h3>
    <div class="torneoTableContHome">
        <div class="torneoTableContHead">
            <div>#</div>
            <div>Equipo</div>
            <div>PJ</div>
            <div>G</div>
            <div>E</div>
            <div>P</div>
            <div class="ocultarMobileTorneo">GF</div>
            <div class="ocultarMobileTorneo">GC</div>
            <div class="ocultarMobileTorneo">DG</div>
            <div>Pts</div>
        </div>
        <div class="torneoTableContItem">
            <div>1</div>
            <div>Equipo 1</div>
            <div>21</div>
            <div>15</div>
            <div>4</div>
            <div>2</div>
            <div class="ocultarMobileTorneo">44</div>
            <div class="ocultarMobileTorneo">13</div>
            <div class="ocultarMobileTorneo">31</div>
            <div>49</div>
        </div>
        <div class="torneoTableContItem">
            <div>2</div>
            <div>Equipo 2</div>
            <div>21</div>
            <div>15</div>
            <div>4</div>
            <div>2</div>
            <div class="ocultarMobileTorneo">44</div>
            <div class="ocultarMobileTorneo">13</div>
            <div class="ocultarMobileTorneo">31</div>
            <div>49</div>
        </div>
        <div class="torneoTableContItem">
            <div>3</div>
            <div>Equipo 3</div>
            <div>21</div>
            <div>15</div>
            <div>4</div>
            <div>2</div>
            <div class="ocultarMobileTorneo">44</div>
            <div class="ocultarMobileTorneo">13</div>
            <div class="ocultarMobileTorneo">31</div>
            <div>49</div>
        </div>
    </div>
<%- include("footerPartialDetail")  %> 