<%- include("../../partials/head.ejs",{title:"Equipos"}) %>
<%- include("../../partials/menuHeader.ejs") %>
<section class="contPrin">
    <div class="infoWeb"> En desarrollo <a href="/teams">VOLVER</a></div>
    <div class="teamCardCont">
        <div class="teamCardHeader">
            <img class="crestTeamInfo" src="/img/teams/default.png" alt="team avatar">
            <h4>TEAM ODET</h4>
        </div>
    </div>
</section>
<%- include("../../partials/footer.ejs") %>