<%- include("../../partials/head",{title:"Odet - Jugadores"}) %>
<%- include("headPartialDetail") %>
    <div class="infoWeb">En desarrollo</div>
    <div class="teamsViewsCont">
        <% for( let i = 1; i <= 10; i++ ) { %>
        <div class="teamsViewsItem">
            <div class="teamViewsCrest"><img src="/img/teams/default.png" alt="teamLogo"></div>
            <div class="teamViewsInfo">
                <p>Jugador <%= i %></p>
                <a class="btnLink" href="/teams/1/info">Ver perfil</a>
            </div>
        </div>
        <% } %>
    </div>
<%- include("footerPartialDetail")  %> 