<%- include("../../partials/head",{title:"Equipo ODET"}) %>
<%- include("headPartialDetail",) %>
<div class="teamInfoCont">
     
    <div class="teamInfoCont">
        <% for(let i=1; i<=10;i++){ %> 
        <div class="fixtureGridContHome">
            <div class="fixtureGridHomeHead torneoTableContHead">
                <div>Fecha <%= i %></div>
            </div>
            <div class="fixtureGridHomeItem torneoTableContItem">
                <div>
                    <img src="/img/teams/default.png" alt="avatar team">
                    <p>TEAM ONE</p>
                </div>
                <div>
                    <p>vs</p>
                    <p>17/8 | 20hs</p>
                </div>
                <div>
                    <img src="/img/teams/default.png" alt="avatar team">
                    <p>TEAM TWO</p>
                </div>
            </div>
        </div>
        <% } %> 
    </div>
</div>
<%- include("footerPartialDetail")  %> 