<%- include("../../partials/head.ejs",{title:"Equipos"}) %>
<%- include("../../partials/menuHeader.ejs") %>
<section class="contPrin">
    <div class="infoWeb"> En desarrollo <a href="/teams">VOLVER</a></div>
</section>
<%- include("../../partials/footer.ejs") %>