<%- include("../../partials/head.ejs",{title:"Admin - Equipos"}) %>
    <div class="contenedorAdmin">    
        <%- include("../../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Crear nueva noticia</h3>
            <form class="createNewsForm" action="/admin/news/create" method="post">
                <label for="title">Titulo</label>
                <input type="text" class="createNewsFormInputBase" id="title" name="title" placeholder="Introducir título">
                <label for="body">Contenido</label>
                <textarea id="body" name="body" class="createNewsFormInputBase"></textarea>
                <label for="image">Subir imagen</label>
                <input type="file" class="createNewsFormInputBase" name="img" id="image">
                <button class="btnLink" type="submit">Crear noticia</button>
            </form>
        </div>
    </div>