.fixtureGridHomeItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.crestGridHomeFixture{
    width: 5rem;
}
.crestGridHomeFixture > img{
    border-radius: 50%;
}
.fixtureGridHomeItem > div:nth-child(2) > p{margin: 0; }
.fixtureGridHomeItem > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media only screen and (min-width: 768px){
    .fixtureGridContHome{
        width: 30%;
        margin: auto;
    }
}