.carrouselCont {
  background: #45555a;
  height: 200px;
  position: relative;
}
.carrouselCont .carrouselItemCont {
  white-space: nowrap;
  overflow: hidden;
}
.carrouselCont .carrouselItemCont .carrouselItem {
  width: 100%;
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-out;
}
.carrouselCont .carrouselItemCont .arrowCarrouselCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.carrouselCont .carrouselItemCont .arrowCarrouselCont div {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
}
.carrouselCont .carrouselItemCont .sliderShow {
  opacity: 1;
}

.lastResult {
  background: #15547e;
  padding: 1rem;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}
.lastResult h4 {
  margin: 0;
}
.lastResult .fixtureHome {
  margin: 5px 0;
  border: 2px solid #bbe1fa;
  border-radius: 3px;
}
.lastResult div {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.lastResult div .teamLastResult {
  background: #45aaa5;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.lastResult div .teamLastResultData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lastResult div .teamLastResultData div {
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  .lastResult {
    width: 50%;
    margin: 5px auto;
  }
}

.sponsorsHome h4 {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
.sponsorsHome .sponsorItemsCont {
  background: rebeccapurple;
  padding: 0.5rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sponsorsHome .sponsorItemsCont .sponsorItem {
  width: 100px;
  height: 100px;
  background: #45aaa5;
  margin: 3px 0;
}
@media only screen and (min-width: 1024px) {
  .sponsorsHome .sponsorItemsCont {
    justify-content: space-evenly;
  }
}

.filterCont {
  background: linear-gradient(#efefef 25%, #dadada 75%);
  padding: 1rem;
  margin-bottom: 1rem;
  border: #15547e solid 2px;
  border-radius: 5px;
}
.filterCont form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterCont form .filterSelect {
  display: inline-block;
  padding: 0 1rem;
}
.filterCont form .filterSelect:first-child {
  padding: 0;
}
.filterCont form .filterSelect label {
  color: #15547e;
  font-weight: bold;
}
.filterCont form .filterSelect select {
  background: #fff;
  padding: 0.3rem;
  border: #15547e solid 2px;
  border-radius: 5px;
}
.filterCont form .filterSelect select:focus {
  font-weight: bold;
  color: #15547e;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

.gridCont div {
  display: grid;
  grid-template-columns: 40px repeat(9, 1fr);
  padding: 5px;
}
.gridCont .gridHead {
  background: #15547e;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.gridCont .gridHead div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gridCont .gridItem {
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
.gridCont .gridItem div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gridCont .gridItem:last-child {
  border-bottom: 1px solid #c7c7c7;
  border-radius: 0 0 5px 5px;
}
.gridCont .gridItem:nth-child(odd) {
  background: #efefef;
}

.alert {
  text-align: center;
  padding: 5px;
}
.alert--warning {
  background: #fff3cd;
  color: #856404;
  border-color: 1px solid #ffeeba;
}
.alert--warning a {
  color: #856404;
  font-weight: bold;
}

.btn {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.btn--blue {
  background: #15547e;
  border-radius: 5px;
  color: #fff;
}

.headerMain {
  background: #15547e;
  height: 100px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerMain h3 a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
.headerMain .buttonMovilMenu {
  color: #fff;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .headerMain .buttonMovilMenu {
    display: none;
  }
}
.headerMain .navigator {
  background: #15547e;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all ease-in 0.5s;
}
.headerMain .navigator ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
.headerMain .navigator ul li {
  text-align: center;
  color: #fff;
}
.headerMain .navigator ul li a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .headerMain .navigator {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    justify-content: start;
    position: static;
  }
  .headerMain .navigator ul {
    font-size: 1rem;
    height: auto;
    flex-direction: row;
  }
  .headerMain .navigator ul li {
    padding: 10px;
    position: relative;
  }
  .headerMain .navigator ul li:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    background: #3282b8;
    transition: width ease-in 0.5s;
  }
  .headerMain .navigator ul li:hover:after {
    width: 100%;
  }
  .headerMain .navigator ul .cerraMenuBtn {
    display: none;
  }
}
.headerMain .ocultarMobile {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.headerMain .mostrarMobile {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer {
  background: #15547e;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
  padding: 1rem;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.gralCont {
  width: 90%;
  background: #fff;
  margin: 1rem auto;
  border: 1px solid #c7c7c7;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=main.css.map */
