.carrouselCont {
  background: #45555a;
  height: 200px;
  position: relative;
}
.carrouselCont .carrouselItemCont {
  white-space: nowrap;
  overflow: hidden;
}
.carrouselCont .carrouselItemCont .carrouselItem {
  width: 100%;
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-out;
}
.carrouselCont .carrouselItemCont .carrouselItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrouselCont .carrouselItemCont .arrowCarrouselCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.carrouselCont .carrouselItemCont .arrowCarrouselCont div {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
}
.carrouselCont .carrouselItemCont .sliderShow {
  opacity: 1;
}

.lastResult {
  background: #15547e;
  padding: 1rem;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}
.lastResult h4 {
  margin: 0;
}
.lastResult .fixtureHome {
  margin: 5px 0;
  border: 2px solid #bbe1fa;
  border-radius: 3px;
}
.lastResult div {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.lastResult div .teamLastResult {
  background: #45aaa5;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.lastResult div .teamLastResultData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lastResult div .teamLastResultData div {
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  .lastResult {
    width: 50%;
    margin: 5px auto;
  }
}

.sponsorsHome h4 {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
.sponsorsHome .sponsorItemsCont {
  background: rebeccapurple;
  padding: 0.5rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sponsorsHome .sponsorItemsCont .sponsorItem {
  width: 100px;
  height: 100px;
  background: #45aaa5;
  margin: 3px 0;
}
@media only screen and (min-width: 1024px) {
  .sponsorsHome .sponsorItemsCont {
    justify-content: space-evenly;
  }
}

.filterCont {
  background: linear-gradient(#efefef 25%, #dadada 75%);
  padding: 1rem;
  margin-bottom: 1rem;
  border: #15547e solid 2px;
  border-radius: 5px;
}
.filterCont form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterCont form .filterSelect {
  display: inline-block;
  padding: 0 1rem;
}
.filterCont form .filterSelect:first-child {
  padding: 0;
}
.filterCont form .filterSelect label {
  color: #15547e;
  font-weight: bold;
}
.filterCont form .filterSelect select {
  background: #fff;
  padding: 0.3rem;
  border: #15547e solid 2px;
  border-radius: 5px;
}
.filterCont form .filterSelect select:focus {
  font-weight: bold;
  color: #15547e;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

.gridCont div {
  display: grid;
  grid-template-columns: 40px repeat(9, 1fr);
  padding: 5px;
}
.gridCont .gridHead {
  background: #15547e;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.gridCont .gridHead div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gridCont .gridItem {
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
.gridCont .gridItem div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gridCont .gridItem:last-child {
  border-bottom: 1px solid #c7c7c7;
  border-radius: 0 0 5px 5px;
}
.gridCont .gridItem:nth-child(odd) {
  background: #efefef;
}

.teamCont {
  grid-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.teamCont .itemTeam {
  background: #efefef;
  padding: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid #c7c7c7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.teamCont .itemTeam .avatarTeam {
  width: 100px;
  height: 100px;
  background: #efefef;
  border: 5px solid #15547e;
  border-radius: 50%;
}
.teamCont .itemTeam .avatarTeam img {
  width: 100%;
}
.teamCont .itemTeam .nameTeam {
  text-align: center;
  color: #15547e;
}

.headerTeamDetail {
  background: url("../img/teams/headerInfo.jpg");
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.headerTeamDetail .nameAvatarCont {
  order: 1;
}
.headerTeamDetail .infoTeamCont {
  order: 2;
}
.headerTeamDetail .trophyCont {
  order: 3;
}
.headerTeamDetail .teamCont {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerTeamDetail .teamCont .teamHeadUl {
  list-style: none;
  padding: 0;
  margin: 0;
}
.headerTeamDetail .teamCont .teamHeadUl li {
  padding: 0.8rem;
}
.headerTeamDetail .teamCont .teamHeadUl li a {
  text-decoration: none;
  color: #fff;
}
.headerTeamDetail .teamCont .avatarTeam {
  background: #15547e;
  border: 5px solid #15547e;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 0;
}
.headerTeamDetail .teamCont .avatarTeam img {
  width: 100%;
}
.headerTeamDetail .teamCont .nameTeam {
  color: #fff;
}
@media only screen and (min-width: 1024px) {
  .headerTeamDetail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .headerTeamDetail .infoTeamCont {
    order: 1;
  }
  .headerTeamDetail .nameAvatarCont {
    order: 2;
  }
  .headerTeamDetail .trophyCont {
    order: 3;
  }
}

.playersTeamCont .playersTeamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.playersTeamCont .playersTeamGrid .info {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .playersTeamCont .playersTeamGrid {
    display: grid;
    grid-template-columns: 20px repeat(2, 1fr);
  }
}
.playersTeamCont .flexFixture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.playersTeamCont .flexFixture .fixtureCont {
  background: #efefef;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.playersTeamCont .flexFixture .fixtureCont div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.playersTeamCont .flexFixture .fixtureCont div:nth-child(2) {
  flex-direction: column;
}
.playersTeamCont .flexFixture .fixtureCont .fixtureTeam div {
  width: 100px;
  height: 100px;
}
.playersTeamCont .flexFixture .fixtureCont .fixtureTeam div img {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .playersTeamCont .flexFixture .fixtureCont {
    width: 40%;
  }
}

.adminCont {
  display: grid;
  grid-template-columns: 150px repeat(1, 1fr);
}
.adminCont .headerAdmin {
  padding: 1rem;
  background: #15547e;
  color: #fff;
  min-height: 100vh;
}
.adminCont .headerAdmin .logoAdm {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}
.adminCont .headerAdmin .versionAdm {
  font-size: 0.6rem;
  text-align: center;
}
.adminCont .headerAdmin .navAdm ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}
.adminCont .headerAdmin .navAdm ul li {
  margin-top: 1rem;
  text-align: center;
}
.adminCont .headerAdmin .navAdm ul li a {
  color: #fff;
  text-decoration: none;
}
.adminCont .contGralAdmin .titlePageAdm {
  margin: 0;
  position: relative;
  text-align: center;
  padding-bottom: 0.5rem;
}
.adminCont .contGralAdmin .titlePageAdm:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, transparent 0%, #c7c7c7 50%, transparent 100%);
}

.modalContAdmGral {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path ease-in 0.5s;
}
.modalContAdmGral .btnClose {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 5rem;
  display: inline-flex;
  color: #fff;
  cursor: pointer;
}
.modalContAdmGral .modalContAdm {
  background: #efefef;
  line-height: 0;
  width: 80%;
  padding: 0.5rem;
}
.modalContAdmGral .modalContAdm img {
  width: 100%;
}
.modalContAdmGral .modalContAdm .btnCont {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.modalContAdmGral .modalContAdm .btnCont button {
  margin-left: 1rem;
}
.modalContAdmGral .modalContAdm .titleModalContAdm {
  color: red;
}
.modalContAdmGral .modalContAdm .formModal input[type=file] {
  display: none;
}
.modalContAdmGral .modalContAdm .formModal label {
  margin-top: 0.5rem;
}
.modalContAdmGral .modalContAdm .formModal .preview {
  width: 100%;
  height: 200px;
  background: red;
}

.fieldSetAdm {
  border: 2px solid #15547e;
}
.fieldSetAdm legend {
  color: #15547e;
  font-weight: bold;
}
.fieldSetAdm p {
  margin: 0 0 10px 0;
}
.fieldSetAdm .formField {
  background: #efefef;
  border: 1px solid #c7c7c7;
  border-radius: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 30% repeat(1, 1fr);
  flex-wrap: wrap;
}
.fieldSetAdm .formField div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.fieldSetAdm .formField div .alert {
  width: 80%;
  margin: 10px auto;
}
.fieldSetAdm .formField div .inputFileField {
  margin: 0 0 0.5rem 0;
}
.fieldSetAdm .formField div input[type=file] {
  display: none;
}
.fieldSetAdm .formField .imagePreviewCont {
  background: #efefef;
  width: 100%;
}
.fieldSetAdm .formField .imagePreviewCont .imagePreview {
  background: #d1d1d1;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fieldSetAdm .formField .imagePreviewCont .imagePreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fieldSetAdm div h4 {
  margin: 0;
  margin-top: 0.5rem;
}
.fieldSetAdm div .bannersListCont {
  background: #efefef;
  border: 1px solid #c7c7c7;
  border-radius: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.fieldSetAdm div .bannersListCont .bannerItem {
  width: 100px;
  height: 100px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  border: 5px solid #15547e;
  transition: border ease 0.5s;
  cursor: pointer;
}
.fieldSetAdm div .bannersListCont .bannerItem img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fieldSetAdm div .bannersListCont .bannerItem:hover {
  border: 5px solid #3282b8;
}

.iconCardRed {
  height: 14px;
}
.iconCardRed:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 14px;
  background: #f00;
  border: 1px solid #000;
}

.iconCardYellow {
  height: 14px;
}
.iconCardYellow:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 14px;
  background: #e9e500;
  border: 1px solid #000;
}

.iconCaptain:before {
  content: "C";
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
}

.contPages {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contPages div {
  min-width: 2rem;
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .contPages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.alert {
  text-align: center;
  padding: 5px;
}
.alert--warning {
  background: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}
.alert--warning a {
  color: #856404;
  font-weight: bold;
}
.alert--danger {
  background: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.alert--danger a {
  color: #491217;
  font-weight: bold;
}

.btn {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.btn--blue {
  background: #15547e;
  color: #fff;
  border-radius: 5px;
}
.btn--red {
  background: #dc3545;
  color: #fff;
  border-radius: 5px;
}
.btn--gray {
  background: #6c757d;
  color: #fff;
  border-radius: 5px;
}
.btn--green {
  background: #28a745;
  color: #fff;
  border-radius: 5px;
}

.headerMain {
  background: #15547e;
  height: 100px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerMain h3 a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
.headerMain .buttonMovilMenu {
  color: #fff;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .headerMain .buttonMovilMenu {
    display: none;
  }
}
.headerMain .navigator {
  background: #15547e;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all ease-in 0.5s;
}
.headerMain .navigator ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
.headerMain .navigator ul li {
  text-align: center;
  color: #fff;
}
.headerMain .navigator ul li a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .headerMain .navigator {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    justify-content: start;
    position: static;
  }
  .headerMain .navigator ul {
    font-size: 1rem;
    height: auto;
    flex-direction: row;
  }
  .headerMain .navigator ul li {
    padding: 10px;
    position: relative;
  }
  .headerMain .navigator ul li:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    background: #3282b8;
    transition: width ease-in 0.5s;
  }
  .headerMain .navigator ul li:hover:after {
    width: 100%;
  }
  .headerMain .navigator ul .cerraMenuBtn {
    display: none;
  }
}

.ocultarMobile {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.mostrarMobile {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer {
  background: #15547e;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
  padding: 1rem;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.gralCont {
  width: 90%;
  background: #fff;
  margin: 1rem auto;
  border: 1px solid #c7c7c7;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.linkP {
  color: #3282b8;
}

/*# sourceMappingURL=main.css.map */
