@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{ box-sizing: border-box; }
:root{
    --colorBlue: #15547e
}
body{
    background: #fff;
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.desarrollo{
    text-align: center;
    color: #c7c7c7;
}
/*HEADER HOME*/
.header{
    background: var(--colorBlue);
    width: 100%;
    height: 100px;
    position: sticky;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > div > h3 > a{
    margin: 0;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.buttonMovilMenu > i{
    background: rgba(50, 130, 184, 0.5);
    font-size: 4rem;
    color: #fff;
}
.menuHeaderCont{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.menuHeader{
    background: var(--colorBlue);
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all ease 1s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuHeader > li{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
}
.menuHeader > li > a{
    color: #fff;
    text-decoration: none;
}
.cerraMenuBtn{
    color: #fff;
    font-size: 2rem;
}
/*contenedor principal*/
.contPrin{
    width: 90%;
    margin: 10px auto;
    padding: 3px;
    border: 1px solid #c7c7c7;
}


/********************** individual torneo inicio*****************/
.torneoIndividualCont > h3{
    display: inline-block;    
}
/********************** individual torneo fin*****************/
/********************** footer inicio*****************/
.footer{
    background: var(--colorBlue);
    color: #fff;
    padding: 3px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
/********************** footer fin*******************/
/*Menu movil abrir, ocultar*/
.mostrarMobile{
    transition: all ease 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.ocultarMobile{
    transition: all ease 1s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
/************************************************/
.errForm{
    color: #b62727;
    margin: 0.2rem;
}
.errFormInput{
    box-shadow: #f00 0 0 7px inset;
    border: none;
}
.infoWeb{
    background: #fff3cd;
    border: 2px solid #ffecb5;
    color: #664d03;
    text-align: center;
}
.infoWeb > a{
    color: #523e02;
    font-weight: bold;
}
.alertDanger{
    color: #60191f;
    background: #fde0e3;
    padding: 0.5rem;
}
.btnLink{
    background:var(--colorBlue);
    padding: 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.link{text-decoration: none;color: #333;}
.linkDisabled{cursor: default;}
.ulBasic{
    padding: 0;
    margin: 0;
    list-style: none;
}
.modalCont{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path ease-in .2s;
}
.modalView{
    background: #e7e7e7;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--colorBlue);
    border-radius: 5px;
}
.modalView > h4{
    margin: 5px 0;
    color: var(--colorBlue);
    font-size: 1.3rem;
}
.modalButtonCont{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.modalButton{
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
}
.modalButtonAccept{
    background: #3282b8;
}
.modalButtonDecline{
    background: #1b262c;
}
.mostrarModal{
    clip-path: circle(71.0% at 50% 50%);
}
@media only screen and (min-width: 768px){
    .ocultarMobileTorneo{ display: block;}
}
@media only screen and (min-width: 1024px){
    .buttonDesktop{
        display: none;
    }
    .mostrarMobile{
        transition: all ease 1s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .ocultarMobile{
        transition: all ease 1s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .buttonMovilMenu{
        display: none;
    }
    .menuHeader{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        display: flex;
        height: auto;
        flex-direction: row;
        position: relative;
        border-bottom: 2px solid transparent;
    }
    .menuHeader > li{
        font-size: 1rem;
        padding: 5px;
        margin: 1px;
    }
    .linkHeader{
        position: relative;
        padding-bottom: 5px;
    }
    .linkHeader:after{
        content: "";
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        margin-top: 10px;
        background: #bbe1fa;
        transition: all ease .3s;
    }
    .linkHeader:hover::after{
        width: 100%;
    }
}