.teamGridHomeHead, .teamGridHomeItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.teamGridHomeItem{
    border-bottom: 1px solid #c7c7c7;
}
.teamsViewsCont{
    width: 80%;
    margin: 10px auto;
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 22rem; */
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
}
.teamsViewsItem{
    background: #c7c7c7;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.teamViewsInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamViewsCrest{
    /* background: #15547e; */
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #15547e
}
.teamViewsCrest > img{
    width: 100%;
}
.teamCardCont{
    background: url('../img/teams/headerInfo.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.teamCardHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}
.crestTeamInfo{
    width: 8rem;
}
.teamCardNav{
    background: #e9e9e9;
}
.teamCardUl{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.teamCardLi{
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.teamCardContData{
    background: #15547e;
}
.teamCardContData > div{
    position: absolute;
    line-height: 1.8;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: #fff;
    padding-bottom: 40px;
}
#radio1,#radio2,#radio3,#radio4{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    position: relative;
}
@media only screen and (min-width: 768px){
    .teamGridContHome{
        max-width: 80%;
        margin: auto;
    }
    .teamsViewsCont{
        width: 90%;
    }
    /* .teamsViewsItem{
        background: #c7c7c7;
        border-radius: 5px;
        padding: 10px;
        display: inline-block;
        margin: auto;
    } */
}