<%- include("../../partials/head.ejs",{title: "Inicio"})  %> 
<%- include("../../partials/header.ejs")  %> 
<section class="gralCont">
    <div class="gridCont">
        <div class="gridHead">
            <div>#</div>
            <div>Nombre</div>
            <div>PJ</div>
            <div>G</div>
            <div>E</div>
            <div>P</div>
            <div>GF</div>
            <div>GC</div>
            <div>DG</div>
            <div>Pts</div>
        </div>
        <div class="gridItem">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
        </div>
        <div class="gridItem">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
        </div>
        <div class="gridItem">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
        </div>
    </div>
</section>
<%- include("../../partials/footer.ejs")  %> 