<%- include("../../partials/head.ejs",{title: "Inicio"})  %> 
<div>
    <%- include("../../partials/header.ejs")  %> 
    <section class="gralCont">
        <form class="loginCont" action="/login" method="post">
            <input placeholder="Usuario" class="username" type="text">
            <input placeholder="Contraseña" class="password" type="pass">
            <input class="btn btn--blue" type="submit" value="Entrar">
        </form>
    </section>
</div>
<%- include("../../partials/footer.ejs")  %> 