<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odet | Fixture</title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
<%- include("../partials/menuHeader.ejs") %>
<section class="contPrin">
    <form action="">
        Seleccionar torneo
        <select name="" id="">
            <option value="">Torneo 1</option>
            <option value="">Torneo 2</option>
        </select><br>
        División
        <select name="" id="">
            <option value="">Div 1</option>
            <option value="">Div 2</option>
        </select>
    </form>
    <div class="fixtureGridContHome">
        <div class="fixtureGridHomeHead torneoTableContHead">
            <div>Fecha 1</div>
        </div>
        <div class="fixtureGridHomeItem torneoTableContItem">
            <div>Eq1</div>
            <div>
                <p>vs</p>
                <p>17/8 | 20hs</p>
            </div>
            <div>Eq2</div>
        </div>
        <div class="fixtureGridHomeItem torneoTableContItem">
            <div>Eq1</div>
            <div>
                <p>vs</p>
                <p>17/8 | 20hs</p>
            </div>
            <div>Eq2</div>
        </div>
        <div class="fixtureGridHomeItem torneoTableContItem">
            <div>Eq1</div>
            <div>
                <p>vs</p>
                <p>17/8 | 20hs</p>
            </div>
            <div>Eq2</div>
        </div>
    </div>
</section>
<%- include("../partials/footer.ejs") %>
</body>
</html>