<%- include("../partials/head.ejs",{title:"Organizador de torneos"}) %>
<%- include("../partials/menuHeader.ejs") %>
<section class="contPrin contNotiHome">
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="/noticia/123">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="#">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="#">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="#">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="#">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="/noticia/123">Seguir leyendo</a></div>
    </article>
</section>
<%- include("../partials/footer.ejs") %>