<%- include("../partials/head.ejs",{title:"Equipos"}) %>
<%- include("../partials/menuHeader.ejs") %>
<section class="contPrin">
    <form action="">
        <div class="formFilterTournament">
            <label for="selectTournament">Seleccionar torneo</label>
            <select name="" id="selectTournament">
                <option value="">Torneo 1</option>
                <option value="">Torneo 2</option>
            </select><br>
        </div>
        <div class="formFilterTournament">
            <label for="divsionTournament">División</label>
            <select name="" id="divsionTournament">
                <option value="">Div 1</option>
                <option value="">Div 2</option>
            </select>
        </div>
    </form>
    <div class="teamGridContHome">
        <div class="teamGridHomeHead torneoTableContHead">
            <div>#</div>
            <div>Equipo</div>
            <div>Acciones</div>
        </div>
        <div class="teamGridHomeItem torneoTableContItem">
            <div>E</div>
            <div>Boca juniors</div>
            <div><i class='bx bxs-edit-alt'></i></div>
        </div>
    </div>
</section>
<%- include("../partials/footer.ejs") %>