<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odet | Torneo</title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
<%- include("../partials/menuHeader.ejs") %>
<section class="contPrin">
    <form action="">
        <div class="formFilterTournament">
            <label for="selectTournament">Seleccionar torneo</label>
            <select name="" id="selectTournament">
                <option value="">Torneo 1</option>
                <option value="">Torneo 2</option>
            </select><br>
        </div>
        <div class="formFilterTournament">
            <label for="divsionTournament">División</label>
            <select name="" id="divsionTournament">
                <option value="">Div 1</option>
                <option value="">Div 2</option>
            </select>
        </div>
    </form>
    <div class="torneoTableContHome">
        <div class="torneoTableContHead">
            <div>#</div>
            <div>Equipo</div>
            <div>PJ</div>
            <div>G</div>
            <div>E</div>
            <div>P</div>
            <div class="ocultarMobileTorneo">GF</div>
            <div class="ocultarMobileTorneo">GC</div>
            <div class="ocultarMobileTorneo">DG</div>
            <div>Pts</div>
        </div>
        <div class="torneoTableContItem">
            <div>1</div>
            <div>Equipo 1</div>
            <div>21</div>
            <div>15</div>
            <div>4</div>
            <div>2</div>
            <div class="ocultarMobileTorneo">44</div>
            <div class="ocultarMobileTorneo">13</div>
            <div class="ocultarMobileTorneo">31</div>
            <div>49</div>
        </div>
        <div class="torneoTableContItem">
            <div>2</div>
            <div>Equipo 2</div>
            <div>21</div>
            <div>15</div>
            <div>4</div>
            <div>2</div>
            <div class="ocultarMobileTorneo">44</div>
            <div class="ocultarMobileTorneo">13</div>
            <div class="ocultarMobileTorneo">31</div>
            <div>49</div>
        </div>
        <div class="torneoTableContItem">
            <div>3</div>
            <div>Equipo 3</div>
            <div>21</div>
            <div>15</div>
            <div>4</div>
            <div>2</div>
            <div class="ocultarMobileTorneo">44</div>
            <div class="ocultarMobileTorneo">13</div>
            <div class="ocultarMobileTorneo">31</div>
            <div>49</div>
        </div>
    </div>
</section>
<%- include("../partials/footer.ejs") %>
</body>
</html>