@use '../../utilities/colors' as c;
@use '../../utilities/mixin' as mix;
.adminCont{
    @include mix.gridTemplate(150px repeat(1,1fr));
    .headerAdmin{
        padding: c.$rem1;
        background: c.$colorBlue;
        color: c.$colorWhite;
        min-height: 100vh;
        .logoAdm{
            text-align: center;
            font-weight: bold;
            font-size: 2.5rem;
        }
        .versionAdm{
            font-size: 0.6rem;
            text-align: center;
        }
        .navAdm{
            ul{
                @include mix.ulReset();
                font-size: 1.3rem;
                li{
                    margin-top: c.$rem1;
                    text-align: center;
                    a{
                        color: c.$colorWhite;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .contGralAdmin{
        .titlePageAdm{  
            margin: 0;
            position: relative;
            text-align: center;
            padding-bottom: .5rem;
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                box-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
                background: linear-gradient(90deg, transparent 0%, c.$colorGray 50% ,transparent 100%);
            }
        }
    }
}
.modalContAdmGral{
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path ease-in 0.5s;
    .btnClose{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 5rem;
        display: inline-flex;
        color: c.$colorWhite;
        cursor: pointer;
    }
    .modalContAdm{
        background: c.$colorLightGray;
        line-height: 0;
        width: 80%;
        padding: 0.5rem;
        img{
            width: 100%;
        }
        .btnCont{
            padding: c.$rem1;
            display: flex;
            justify-content: flex-end;
            button{
                margin-left: c.$rem1;
            }
        }
        .titleModalContAdm{
            color: red;
        }
        .formModal{
            @include mix.uploadFileButton();
            label{
                margin-top: 0.5rem;
            }
            .previewEdit{
                width: 100%;
                height: 200px;
                background: c.$colorGrayd1d1d1;
                @include mix.flexPosition(row,center,center);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}