<form action="/tournament/filter" method="post">
    <div class="formFilterTournament">
        <label for="selectTournament">Seleccionar torneo</label>
        <select name="tournamentId" id="selectTournament">
            <% for( let i=0;i<tournamentConsult.length;i++ ) { %>
                <option value="<%= tournamentConsult[i].id %>"><%= tournamentConsult[i].name %></option>
            <% } %>
        </select><br>
    </div>
    <% console.log(statisticsConsult) %> 
    <div class="formFilterTournament divisionDiv">
        <label for="divsionTournament">División</label>
        <select name="divisionId" id="divsionTournament">
            <% for( let i=0;i<divisionConsult.length;i++ ) { %>
                <option   value="<%= divisionConsult[i].id %>"><%= divisionConsult[i].name %></option>
            <% } %>
        </select>
    </div>
    <input class="btnLink filterSubmit" type="submit" value="Filtrar">
</form>