@use '../../../utilities/colors' as c;
@use "../../../utilities/mixin" as mix;
.carrouselCont{
    background: #45555a;
    height: 200px;
    position: relative;
    .carrouselItemCont{
        white-space: nowrap;
        //overflow: scroll;
        overflow: hidden;
        .carrouselItem{
            //display: inline-block;
            width: 100%;
            height: 200px;
            opacity: 0;
            position: absolute;
            transition: opacity .5s ease-out;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .arrowCarrouselCont{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            div{
                font-size: c.$rem2;
                background: rgba(0,0,0,0.5);
                color: #fff;
                background: rgba(0,0,0,0.5);
                color: #fff;
                font-size: c.$rem2;
            }
        }
        .sliderShow{
            opacity: 1;
        }
    }
}
.lastResult{
    background: c.$colorBlue;
    padding: c.$rem1;
    color: c.$colorWhite;
    border-radius: 5px;
    margin: 5px 0;
    h4{
        @include mix.titleReset()
    }
    .fixtureHome{
        margin: 5px 0;
        border: 2px solid c.$colorlightBlue;
        border-radius: 3px; 
    }
    div{
        padding: 1rem;
        @include mix.flexPosition(row,space-evenly,center);
        .teamLastResult{
            background: #45aaa5;
            padding: 10px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        .teamLastResultData{
            div{
                padding: 0;
            }
            @include mix.flexPosition(column,center,center);
        }
    }
    @media only screen and (min-width: c.$twoMedia){
        width: 50%;
        margin: 5px auto;
    }
}
.sponsorsHome{
    h4{
        @include mix.titleReset();
        padding: 1rem 0;
        text-align: center;
    }
    .sponsorItemsCont{
        background: c.$colorGray;
        border-radius: 5px;
        padding: 0.5rem;
        flex-wrap: wrap;
        @include mix.flexPosition(row,space-between,center);
        .sponsorItem{
            width: 100px;
            height: 100px;
            background: #45aaa5;
            margin: 3px 0;
            line-height: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        @media only screen and (min-width: c.$twoMedia){
            justify-content: space-evenly;
        }
    }
}