@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{ box-sizing: border-box; }
body{
    background: #fff;
    font-family: 'Roboto',sans-serif;
}
/*HEADER HOME*/
.header{
    background: #15547e;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > div > h3 > a{
    margin: 0;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.buttonMovilMenu > i{
    background: rgba(50, 130, 184, 0.5);
    font-size: 4rem;
    color: #fff;
}
.menuHeaderCont{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.menuHeader{
    background: #15547e;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menuHeader > li{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
}
.menuHeader > li > a{
    color: #fff;
    text-decoration: none;
}
.cerraMenuBtn{
    color: #fff;
    font-size: 2rem;
}
/*contenedor principal*/
.contPrin{
    width: 90%;
    margin: 120px auto;
    padding: 3px;
    border: 1px solid #c7c7c7;
}
/*noticias seccion*/
.notiArt{
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #c7c7c7;
}
.notiArt > h4{
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #c7c7c7;
}
.notiArt__img{
    width: 90%;
    height: 200px;
    margin: 5px auto;
    background: rgb(112, 31, 31);
}
.notiArt__descrip > p{
    padding: 4px;
    border-top: 1px solid #c7c7c7;
}
.notiArt__button{
    background: #15547e;
    padding: 10px 5px;
    text-align: center;
}
.notiArt__button > a{
    text-decoration: none;
    color: #fff;
}
/*Noticia vista*/
.contNotiVista > h1{
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #c7c7c7;
}
.notiInfo > p{
    margin: 0;
    padding: 5px 0;
    font-size: 0.7rem;
    border-bottom: 1px solid #c7c7c7;
}
.notiVolver{
    background: #15547e;
    padding: 5px 5px 5px 0;
    display: flex;
    align-items: center;
}
.notiVolver > a{
    text-decoration: none;
    color: #fff;
}
/*ADMIN STYLE*/
.headerAdmin{
    background: #15547e;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.headerAdmin > h1, p{
    margin: 0;
    color: #fff;
}
.menuAdmin{
    background: #15547e;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.menuAdmin > li{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px 0;
}
.menuAdmin > li > a{
    color: #fff;
    text-decoration: none;
}
.cerrarAdm{
    background: rgba(50, 130, 184, 0.5);
    font-size: inherit;
}
/*Menu movil abrir, ocultar*/
.mostrarMobile{
    transition: all ease 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.ocultarMobile{
    transition: all ease 1s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}