@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{ box-sizing: border-box; }
body{
    background: #fff;
    font-family: 'Roboto',sans-serif;
}
/*HEADER HOME*/
.header{
    background: #15547e;
    width: 100%;
    height: 100px;
    position: sticky;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > div > h3 > a{
    margin: 0;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.buttonMovilMenu > i{
    background: rgba(50, 130, 184, 0.5);
    font-size: 4rem;
    color: #fff;
}
.menuHeaderCont{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.menuHeader{
    background: #15547e;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuHeader > li{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
}
.menuHeader > li > a{
    color: #fff;
    text-decoration: none;
}
.cerraMenuBtn{
    color: #fff;
    font-size: 2rem;
}
/*contenedor principal*/
.contPrin{
    width: 90%;
    margin: 10px auto;
    padding: 3px;
    border: 1px solid #c7c7c7;
}
/*noticias seccion*/
.notiArt{
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #c7c7c7;
}
.notiArt > h4{
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #c7c7c7;
}
.notiArt__img{
    width: 90%;
    height: 200px;
    margin: 5px auto;
    background: rgb(112, 31, 31);
}
.notiArt__descrip > p{
    padding: 4px;
    border-top: 1px solid #c7c7c7;
}
.notiArt__button{
    background: #15547e;
    padding: 10px 5px;
    text-align: center;
}
.notiArt__button > a{
    text-decoration: none;
    color: #fff;
}
/*Noticia vista*/
.contNotiVista > h1{
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #c7c7c7;
}
.notiInfo > p{
    margin: 0;
    padding: 5px 0;
    font-size: 0.7rem;
    border-bottom: 1px solid #c7c7c7;
}
.notiVolver{
    background: #15547e;
    padding: 5px 5px 5px 0;
    display: flex;
    align-items: center;
}
.notiVolver > a{
    text-decoration: none;
    color: #fff;
}
/****** tournament ********/
.torneoTableContHome > div{
    display: grid;
    grid-template-columns: 20px min(100%,5rem) repeat(5,1fr);
    grid-auto-flow: column;
}
.torneoTableContHead{
    background: #15547e;
    color: #fff;
    box-shadow: inset 0 1px 0 #fff;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #15547e;
    padding: 5px;
    margin: 10px 0 0 0;
}
.torneoTableContItem{
    border: 1px solid #c7c7c7;
    padding: 5px;
}
.torneoTableContItem:nth-child(odd){
    background: #e4e4e4;
}
.ocultarMobileTorneo{
    display: none;
}
/******* teams********/
.teamGridHomeHead, .teamGridHomeItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.teamGridHomeItem{
    border-bottom: 1px solid #c7c7c7;
}
/******** fixture *********/

.fixtureGridHomeItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.fixtureGridHomeItem > div:nth-child(2) > p{margin: 0; }
.fixtureGridHomeItem > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*ADMIN STYLE*/
.headerAdmin{
    background: #15547e;
    width: 100px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    color: #fff;
}
.headerAdmin > h1, .headerAdmin > p{
    margin: 0;
}
.menuAdmin{
    background: #15547e;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.menuAdmin > li{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
}
.menuAdmin > li > a{
    color: #fff;
    text-decoration: none;
}
.cerrarAdm{
    background: rgba(50, 130, 184, 0.5);
    font-size: inherit;
}
.contenedorAdmin{
    display: flex;
}
.contAdminPrin{
    width: 100%;
    padding: 5px;
}
.contAdminPrin > h3{
    background: rgba(199,199 ,199 ,0.3);
    display: inline-block;
    margin: 0;
    text-align: center;
    color: #808080;
}
.contAdminPrin > h3::after{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(21,84,126,1) 30%,rgba(21,84,126,1) 80%,rgba(0,0,0,0) 100%);    
    content: "";
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: column;
}
.contAdminPrin > h3::before{
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(21,84,126,1) 30%,rgba(21,84,126,1) 80%,rgba(0,0,0,0) 100%);   
    content: "";
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: column;
}
.contAdminPrin > div > p{
    padding: 3px 0;
    margin: 0;
}
/* .filterPlayerAdmin{
} */
.filterPlayerAdmin > div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filterPlayerAdmin > div > label{
    background: #15547e;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 1px 0 #fff;
    border: 1px solid #15547e;
}
.filterPlayerAdmin > div > input, .filterPlayerAdmin > div > select{
    outline: none;
    width: 80%;
    background: #15547e;
    color: #fff;
    border: 3px solid #3282b8;
    padding: 5px;
    border-radius: 10px;
}
.filterPlayerAdmin > div > input::placeholder{
    color: inherit;
}
.listaJugadoresAdmin{
    margin-bottom: 100px;
}
.listaJugadoresAdminHead > div{
    background: #c7c7c7;
    border-bottom: 1px solid #333;
    padding: 5px 10px;
}
.listaJugadoresAdminItem > div{
    border-top: 1px solid #333;
    padding: 5px;
}
.listaJugadoresAdminItem:nth-child(2n+3){
    border-top: 1px solid #333;
    background: #c7c7c7;
}
.listaJugadoresAdminHead, .listaJugadoresAdminItem{
    display: grid;
    grid-template-columns: 16px repeat(3,1fr);
}
.listEquiposAdmHead, .listEquiposAdmItem{
    grid-template-columns: 16px repeat(2,1fr);
}
.contRolAdm{
    margin-top: 5px;
    color: #fff;
}
.contRolAdm > h4{
    margin: 0;
    padding: 10px 5px;
    display: inline-block;
    background: #15547e;
    border-radius: 5px 5px 0 0;
    box-shadow: inset 0 0 0 1px #fff;
    border-top: 1px solid #15547e;
}
.contRolAdm > ul{
    background: #c7c7c7;
    list-style: none;
    margin: 0;
    padding: 10px 15px;
}
.contRolAdm > ul > li{
    background: #3282b8;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
/********************** individual torneo inicio*****************/
.torneoIndividualCont > h3{
    display: inline-block;    
}
/********************** individual torneo fin*****************/

/*Menu movil abrir, ocultar*/
.mostrarMobile{
    transition: all ease 1s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.ocultarMobile{
    transition: all ease 1s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}