.teamGridHomeHead, .teamGridHomeItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.teamGridHomeItem{
    border-bottom: 1px solid #c7c7c7;
}
@media only screen and (min-width: 768px){

    
}