@use '../utilities/colors' as c;
body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gralCont{
    width: 90%;
    background: c.$colorWhite;
    margin: 1rem auto;
    border: 1px solid c.$colorGray;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.linkP{
    color: c.$colorLinks;
}
.formInput{
    border: 5px solid c.$colorBlue;
    padding: 0.4rem;
    margin-top: 5px;
    border-radius: 5px;
    color: c.$colorBlue;
    &:focus{
        outline: 2px solid c.$colorBlue;
    }
}
.formSubmit{
    margin: 5px 0;
}