@use '../utilities/colors' as c;
body{
    margin: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
.gralCont{
    width: 90%;
    background: c.$colorWhite;
    margin: 1rem auto;
    border: 1px solid c.$colorGray;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}