<h3>¡Terminaste!</h3>
<p>Odet fue instalado correctamente</p>
<div>
    <ul>
        <li>Usuario: usuario elegido</li>
        <li>Contraseña: contraseña elegida</li>
    </ul>
</div>
<p>Acordate de elminar la carpeta install. <a href="/login">Ingresa al login</a></p>