<form action="/install/odet-admin" method="post">
    <!-- <div>
        <label for="name">Nombre de la página</label>
        <input id="name" type="text">
    </div> -->
    <div>
        <label for="first_name">Nombre</label>
        <input name="firstName" id="first_name" type="text">
    </div>
    <div>
        <label for="last_name">Apellido</label>
        <input name="lastName" id="last_name" type="text">
    </div>
    <div>
        <label for="user">Nombre de usuario administrador</label>
        <input name="user" id="user" type="text">
    </div>
    <div>
        <label for="pass">Contraseña de usuario administrador</label>
        <input name="pass" id="pass" type="password">
    </div>
    <div>
        <label for="email">Correo electronico</label>
        <input name="email" id="email" type="email">
    </div>
    <input type="submit" class="btnLink" value="Instalar ODET">
</form>