<form action="" method="post">
    <div>
        <label for="name">Nombre de la página</label>
        <input id="name" type="text">
    </div>
    <div>
        <label for="name">Nombre de usuario administrador</label>
        <input id="name" type="text">
    </div>
    <div>
        <label for="name">Contraseña de usuario administrador</label>
        <input id="name" type="password">
    </div>
    <div>
        <label for="name">Correo electronico</label>
        <input id="name" type="email">
    </div>
    <input type="submit" class="btnLink" value="Instalar ODET">
</form>