<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odet | <%= title %> </title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/noticias.css">
    <link rel="stylesheet" href="/css/fixture.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/teams.css">
    <link rel="stylesheet" href="/css/tournament.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>