<header class="header">
    <div class="LOGO">
        <h3><a href="/">ODET</a></h3>
    </div>
    <nav class="menuHeaderCont">
        <ul class="menuHeader">
            <li><a href="">Noticias</a></li>
            <li><a href="">Torneo</a></li>
            <li><a href="">Equipos</a></li>
            <li><a href="">Fixture</a></li>
            <li><a href=""><i class='bx bx-log-in'></i> LOGIN</a></li>
            <li><a href=""><i class='bx bxs-user-plus'></i> REGISTRO</a></li>
            <li><a href=""><i class='bx bx-x'></i></a></li>
        </ul>
    </nav>
    <div class="buttonMovilMenu"><i class='bx bx-menu'></i></div>
</header>