<script src="/js/mainAdmin.js"></script>
<div class="headerAdmin">
    <h1>ODET</h1>
    <p>Desarrollo</p>
    <nav>
        <ul class="menuAdmin">
            <li><a href="/admin">ADMIN</a></li>
            <li><a href="/admin/players">JUGADORES</a></li>
            <li><a href="/admin/news">NOTICIAS</a></li>
            <li><a href="/admin/teams">EQUIPOS</a></li>
            <li><a href="/admin/roles">ROLES</a></li>
            <li><a href="/admin/tournament">TORNEOS</a></li>
            <li><a href="/admin/divisions">DIVISIONES</a></li>
            <li><a href="/admin/info">INFORMES</a></li>
            <li><a href="/">VOLVER</a></li>
            <li class="cerraMenuBtn buttonDesktop">CERRAR MENU</li>
        </ul>
    </nav>
    <div class="buttonMovilMenu"><i class='bx bx-menu'></i></div>
</div>