<header class="header">
    <div class="LOGO">
        <h3><a href="/">ODET</a></h3>
    </div>
    <nav>
        <ul class="menuHeader">
            <li><a href="/">Noticias</a></li>
            <li><a href="/tournament">Torneo</a></li>
            <li><a href="/teams">Equipos</a></li>
            <li><a href="/fixture">Fixture</a></li>
            <li><a href="/login"><i class='bx bx-log-in'></i> LOGIN</a></li>
            <li><a href="/register"><i class='bx bxs-user-plus'></i> REGISTRO</a></li>
            <li class="cerraMenuBtn"><i class='bx bx-x'></i></li>
        </ul>
    </nav>
    <div class="buttonMovilMenu"><i class='bx bx-menu'></i></div>
</header>