<% consultTeams.forEach(team => { %>  
    <div class="listaJugadoresAdminItem listEquiposAdmItem">
        <div><%= team.id %></div>
        <div><%= team.name %></div>
        <div class="actionListPlayerItem">
            <i class='bx bx-edit-alt'></i>
            <i class='bx bxs-detail' ></i>
        </div>
    </div>
    <% }) %>
</div>