<% consultTeams.forEach(team => { %>  
    <div class="listaJugadoresAdminItem listEquiposAdmItem">
        <div><%= team.id %></div>
        <div><%= team.name %></div>
        <div class="actionListPlayerItem">
            <a href="/admin/teams/edit/<%= team.id %>"><i class='bx bx-edit-alt'></i></a>
            <a href=""><i class='bx bxs-detail' ></i></a>
        </div>
    </div>
    <% }) %>
</div>