<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin ODET </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/mainAdmin.js"></script>
</head>
<body>
    <section class="adminCont">
        <header class="headerAdmin">
            <div class="logoAdm">ODET</div>
            <div class="versionAdm">Version: desarrollo</div>
            <nav class="navAdm">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Jugadores</a></li>
                    <li><a href="">Noticias</a></li>
                    <li><a href="">Equipos</a></li>
                    <li><a href="">Roles</a></li>
                    <li><a href="">Torneos</a></li>
                    <li><a href="">Divisiones</a></li>
                    <li><a href="">Informes</a></li>
                    <li><a href="">Volver</a></li>
                </ul>
            </nav>
        </header>
        <div class="contGralAdmin gralCont">
            <h4 class="titlePageAdm">Bienvenido a tu panel de administración</h4>
            <div class="homeInfo">
                <p>Hola! $nombreUsuario. Acá vas a poder modificar todos los aspectos de la página.</p>
                <p>¿Dudas?, Visita la web de <a class="linkP" href="">ODET</a> o bien envía un mail a <a class="linkP" href="">contacto@juansosa.com.ar</a></p>
            </div>
            <fieldset class="fieldSetAdm">
                <legend>Banners</legend>
                <p>En esta sección vas a poder subir, editar y eliminar los banners de inicio</p>
                <form class="formField" action="/admin/uploadBanner" method="post" enctype="multipart/form-data">
                    <div>
                        <% if(locals.errors && locals.errors.img){ %> 
                            <div class="alert alert--danger"><%= locals.errors.img.msg %></div>
                        <% } %> 
                        <label class="inputFileField btn btn--green" for="inputFile">
                            <i class='bx bx-upload'></i>
                            Subir imagen
                        </label>
                        <input id="inputFile" name="img" class="uploadBanner" type="file">
                        <input type="submit" name="banner" class="btn btn--blue uploadBannerBtn" value="Subir banner">  
                    </div>
                    <div class="imagePreviewCont">
                        <div class="imagePreview">
                            <img src="/img/banners/1.jpg" alt="">
                        </div>
                    </div>
                </form>
                <div>
                    <h4>Lista de banners <div class="btn btn--blue"><i class='bx bx-plus' ></i></div></h4>
                    <div class="bannersListCont">
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                        <div class="bannerItem openModal">
                            <img src="/img/banners/1.jpg" alt="banner">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <div class="modalContAdmGral bannerHome">
        <div class="btnClose"><i class='bx bx-x'></i></div>
        <div class="modalContAdm">
            <img src="/img/banners/1.jpg" alt="banner">
            <div class="btnCont">
                <button class="btn btn--gray">DESACTIVAR</button>
                <button class="btn btn--blue btnEditModal">EDITAR</button>
                <button class="btn btn--red btnEditDelete">ELIMINAR</button>
            </div>
        </div>
    </div>
    <div class="modalContAdmGral modalEdit">
        <div class="btnClose"><i class='bx bx-x'></i></div>
        <div class="modalContAdm">
            <form class="formModal" action="">
                <div class="preview"></div>
                <label class="btn btn--blue" for="uploadFileEdit">
                    <i class='bx bx-upload'></i>
                    Subir imagen
                </label>
                <input name="bannerImg" class="uploadFileEdit" id="uploadFileEdit" type="file">
            </form>
            <div class="btnCont">
                <button class="btn btn--blue btnEditModal">EDITAR</button>
            </div>
        </div>
    </div>
</body>
</html>