<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odet | Organizador de torneos</title>
    <%- include("../../partials/head.ejs") %>
</head>
<body>
<%- include("../../partials/menuHeader.ejs") %>
<section class="contPrin">
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="/noticia/123">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="#">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="#">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="#">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="#">Seguir leyendo</a></div>
    </article>
    <article class="notiArt">
        <h4>TITULO</h4>
        <div class="notiArt__img"></div>
        <div class="notiArt__descrip"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque ipsum, vitae praesentium totam suscipit quaerat</p></div>
        <div class="notiArt__button"><a href="/noticia/123">Seguir leyendo</a></div>
    </article>
</section>
<%- include("../../partials/footer.ejs") %>
</body>
</html>