<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../../partials/head.ejs");  %>
</head>
<body>
<%- include("../../partials/menuHeader.ejs");  %>
<section class="contPrin">
    <div class="contNotiVista">
        <h1>TITULO</h1>
        <div class="notiInfo"><p>Publicado por Admin - Hace 1 hora</p></div>
        <div class="notiContenido">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis ratione consequuntur aliquam, id magnam architecto sapiente iste optio iusto accusantium enim porro illo fugit cum beatae temporibus dolore. Placeat, aliquid?</p>
        </div>
        <div class="notiVolver">
            <a href="/"><i class='bx bxs-chevron-left'></i> VOLVER</a>
        </div>
    </div>
</section>
<%- include("../../partials/footer.ejs");  %>
</body>
</html>