<%- include("../partials/head.ejs",{title:"Admin - Divisiones"}) %>
    <div class="contenedorAdmin">    
        <%- include("../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">Divisiones</div>
    </div>
