<%- include("../partials/head.ejs",{title:"Admin"}) %>
    <div class="contenedorAdmin">
        <%- include("../partials/menuAdmin.ejs") %>
        <div class="contAdminPrin">
            <h3>ADMIN</h3>
            <div>
                <p>Bienvenido {user}, este es tu panel de administración. Acá vas a poder modificar todos los aspectos del torneo.</p>
                <p>¿Dudas?. Visita la páginas de ayuda: http://www.odet.ar/help</p>
            </div>
        </div>
    </div>
<%- include("../partials/footer.ejs") %>