<%- include("../partials/head.ejs",{title:"Admin - Informes"}) %>
    <div class="contenedorAdmin">    
        <%- include("../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Informes</h3>
        </div>
    </div>