<%- include("../partials/head.ejs",{title:"Admin - Equipos"}) %>
    <div class="contenedorAdmin">    
        <%- include("../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Sección de noticias</h3>
            <div>
                <form class="filterPlayerAdmin" action="">
                    <div>
                        <label for="">Buscar</label>
                        <input placeholder="Buscar noticia" type="search">
                    </div>
                </form>
                <a href="/admin/news/create" class="btnLink">Nueva noticia</a>
                <% if(news.length > 0){ %>
                <div class="listaJugadoresAdmin">
                    <div class="listaJugadoresAdminHead listEquiposAdmHead">
                        <div>#</div>
                        <div>Noticia</div>
                        <div>Accion</div>
                    </div>
                    <% for( let i = 0; i < news.length; i++ ) { %>
                        <div class="listaJugadoresAdminItem listEquiposAdmItem">
                            <div><%= news[i].id %></div>
                            <div><%= news[i].title %></div>
                            <div class="actionItemTable">
                                <i class='bx bx-edit-alt actionItemTableButton linkDisabled'></i>
                                <form action="post">
                                    <button class="actionItemTableButton linkDisabled" type="submit"><i class='bx bxs-trash'></i></button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
                <% }else{ %> 
                    <div class="infoWeb">No hay resultados para mostrar</div>
                <% } %> 
            </div>
        </div>
    </div>