<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Roles</title>
    <%- include("../partials/head.ejs")  %> 
</head>
<body>
    <div class="contenedorAdmin">    
        <%- include("../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Roles</h3>
            <div class="contRolAdm">
                <h4>Roles actuales</h4>
                <ul>
                    <li>Admin <i class='bx bx-edit-alt'></i></li>
                    <li>Arbitro <i class='bx bx-edit-alt'></i></li>
                    <li>Jugador <i class='bx bx-edit-alt'></i></li>
                </ul>
            </div>
            <div class="contRolAdm">
                <h4>Agregar nuevo rol</h4>
                <ul>
                    <li>Proximamente</li>
                </ul>
            </div>
        </div>
    </div>
    <%- include("../partials/footer.ejs")  %> 
</body>
</html>