<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Equipos</title>
    <%- include("../partials/head.ejs")  %> 
</head>
<body>
    <div class="contenedorAdmin">    
        <%- include("../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">Equipos</div>
    </div>
    <%- include("../partials/footer.ejs")  %> 
</body>
</html>