<%- include("../partials/head.ejs",{title:"Admin - Equipos"}) %>
    <div class="contenedorAdmin">    
        <%- include("../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Equipos</h3>
            <div>
                <form class="filterPlayerAdmin" action="">
                    <div>
                        <label for="">Buscar</label>
                        <input placeholder="Nombre del Equipo" type="search">
                    </div>
                    <div>
                        <label for="">Torneo</label>
                        <select name="" id="">
                            <option value="">Torneo 1</option>
                            <option value="">Torneo 2</option>
                        </select>
                    </div>
                    <div>
                        <label for="">División</label>
                        <select name="" id="">
                            <option value="">División 1</option>
                            <option value="">División 2</option>
                        </select>
                    </div>
                </form>
                <div class="listaJugadoresAdmin">
                    <div class="listaJugadoresAdminHead listEquiposAdmHead">
                        <div>#</div>
                        <div>Equipo</div>
                        <div>Accion</div>
                    </div>
                    <div class="listaJugadoresAdminItem listEquiposAdmItem">
                        <div>1</div>
                        <div>Boca Juniors</div>
                        <div><i class='bx bx-edit-alt'></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>