<%- include("../partials/head.ejs",{title:"404 Not Found"}) %>
<%- include("../partials/menuHeader.ejs") %>
<div class="infoWeb">
    <%= err === "team" ? "El equipo no fue encontrado" : null %> 
</div>
<%- include("../partials/footer.ejs") %>