@use '../../../utilities/colors' as c;
@use '../../../utilities/mixin' as mix;

.fixtureConfigCont{
    h5{
        @include mix.titleReset();
        font-size: 1.5rem;
        margin: .5rem 0;
        
    }
    .dataActual{
        @include mix.flexPosition(row,center,center);
        div{
            background: c.$colorLightGray;
            margin: 0 5px;
            padding: 0.5rem;
        }
    }
    .msgInfo{
        margin: 0.5rem 0;
    }
    .cardFixture{
        display: inline-block;
        background: c.$colorLightGray;
        @include mix.borderRadius(c.$colorGray,1px,0);
        padding: c.$rem1;
        form{
            label{
                display: block;
                margin: 0.5rem 0;
            }
        }
    }
    .matchesCont{
        .matchCont{
            background: red;
            display: flex;
            .team{
                background: #5487aa;
                width: 150px;
                height: 150px;
            }
        }
    }
    .matchweek{
        @include mix.flexPosition(row,center,center);
        flex-wrap: wrap;
        .partido{
            background: c.$colorLightGray;
            padding: 0.5rem;
            @include mix.flexPosition(column,center,center);
        }
    }
    .dateFilter{
        background: c.$colorLightGray;
        color: c.$colorGray68;
        @include mix.flexPosition(row,space-between,center);
        padding: 0.5rem;
        margin: 0.5rem 0;
    }
}