@use '../utilities/mixin' as mix;
@use '../utilities/colors' as c;
.alert{
    text-align: center;
    padding: 5px;
    &--warning{
        @include mix.alertBase(#fff3cd,#856404,#ffeeba);
        a{
            @include mix.alertLink(#856404);
        } 
    }
    &--danger{
        @include mix.alertBase(#f8d7da,#721c24,#f5c6cb);
        a{
            @include mix.alertLink(#491217);
        }
    }
}
.btn{
    padding: .5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    &--blue{
        @include mix.btn(c.$colorBlue,c.$colorWhite,5px);
    }
    &--red{
        @include mix.btn(c.$colorRedBtn,c.$colorWhite,5px);
    }
    &--gray{
        @include mix.btn(c.$colorDisabled,c.$colorWhite,5px);
    }
    &--green{
        @include mix.btn(c.$colorGreen,c.$colorWhite,5px);
    }
}