@use '../utilities/mixin' as mix;
@use '../utilities/colors' as c;
.alert{
    text-align: center;
    padding: 5px;
    &--warning{
        @include mix.alertBase(#fff3cd,#856404,#ffeeba);
        a{
            @include mix.alertLink(#856404);
        } 
    }
}
.btn{
    padding: .5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    &--blue{
        background: c.$colorBlue;
        border-radius: 5px;
        color: c.$colorWhite;
    }
    &--red{
        background: c.$colorRedBtn;
        border-radius: 5px;
        color: c.$colorWhite;
    }
    &--gray{
        background: c.$colorDisabled;
        border-radius: 5px;
        color: c.$colorWhite;
    }
}