<header class="headerAdmin">
    <div class="logoAdm">ODET</div>
    <div class="versionAdm">Version: desarrollo</div>
    <nav class="navAdm">
        <ul>
            <li><a href="/admin">Inicio</a></li>
            <li><a href="/admin/sponsors">Sponsors</a></li>
            <li><a href="/admin/fixture">Fixture</a></li>
            <li><a href="">Jugadores</a></li>
            <li><a href="">Noticias</a></li>
            <li><a href="">Equipos</a></li>
            <li><a href="">Roles</a></li>
            <li><a href="">Torneos</a></li>
            <li><a href="">Divisiones</a></li>
            <li><a href="">Informes</a></li>
            <li><a href="">Volver</a></li>
            <li class="cerraMenuBtn"><i class='bx bx-x'></i></li>
        </ul>
    </nav>
    <div class="buttonMovilMenu"><i class='bx bx-menu'></i></div>
</header>