<h4 class="titleInstall">Bienvenido a instalación base</h4>
<p class="pInstall">Ya queda poco para que puedas empezar a crear tus propios torneos</p>
<form action="/install/odet-base" method="post">
    <input class="btnLink" type="submit" value="Ejecutar instalación">
</form>