<h4 class="titleInstall">Bienvenido a la instalación de la demo</h4>
<p>
    Agradezco el interés por probar la página, a continuación se van a listar los registros que van a ser creados.
    <b>Anote las cuentas de prueba ya que no van a mostrarse luego</b>
</p>
<ul>
    <li>
        Cuenta
        <ul>
            <li>
                Admin
                <ul>
                    <li>Cuenta: admin</li>
                    <li>Pass: 11111</li>
                </ul>
            </li>
            <li>
                Player
                <ul>
                    <li>Cuenta: player</li>
                    <li>Pass: 11111</li>
                </ul>
            </li>
            <li>
                Referee
                <ul>
                    <li>Cuenta: referee</li>
                    <li>Pass: 11111</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        Avatar
        <ul>
            <li>avatar por defecto</li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        Torneos
        <ul>
            <li>
                Liga de prueba
                <ul>
                    <li>Equipos: 30</li>
                    <li>Fixture automatico</li>
                    <li>Partidos terminados: 4</li>
                    <li>
                        Divisiones: 3
                        <ul>
                            <li>Primera division: 20 equipos</li>
                            <li>Segunda division: 5 equipos</li>
                            <li>Tercera division: 5 equipos</li>
                        </ul>
                    </li>
                    <li>Ascenso y descenso: Puntos</li>
                </ul>
            </li>
            <li>
                Copa de prueba
                <ul>
                    <li>Equipos: 16</li>
                    <li>Inicio: grupos</li>
                    <li>Partidos terminados: 10</li>
                    <li>Ida y vuelta: si</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Roles
        <ul>
            <li>Admin</li>
            <li>Referee</li>
            <li>Player</li>
        </ul>
    </li>
    <li>Equipos: 30</li>
</ul>
<ul>
    <li>Tipo de torneo: 2 registro</li>
    <li>Tipo de ascenso del torneo: 1 registro</li>
    <li>Tipo de descenso del torneo: 1 registro</li>
    <li>Torneo de prueba: 1 registro</li>
    <li>División de prueba: 1 registro</li>
</ul>
<form action="/install/odet" method="post">
    <input class="btnLink" type="submit" value="Probar ODET!">
</form>