<%- include("../../partials/head.ejs",{title:"Admin - Divisiones"}) %>
    <section class="contenedorAdmin">    
        <%- include("../../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Divisiones</h3>
            <div class="divisionsCont">
                <div>
                    <a class="btnLink" href="/admin/divisions/new">Crear división</a>
                </div>
                <ul class="divisionList ulBasic">
                    <% for( let i = 0; i < divisionControlConsult.length; i++ ) { %>
                        <li><span><%= divisionControlConsult[i].tournaments.name %></span> <%= divisionControlConsult[i].tournamentCompleted === 1 ? divisionControlConsult[i].divisionsCreated+" div." : `${divisionControlConsult[i].divisionsCreated} div. faltan ${divisionControlConsult[i].tournamentDivisions - divisionControlConsult[i].divisionsCreated}`  %>  <i class='bx bxs-plus-circle'></i></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </section>
