<%- include("../../partials/head.ejs",{title:"Admin - Divisiones"}) %>
    <section class="contenedorAdmin">    
        <%- include("../../partials/menuAdmin.ejs")  %> 
        <div class="contAdminPrin">
            <h3>Divisiones</h3>
            <div>
                <a class="btnLink" href="/admin/divisions">Volver</a>
            </div>
            <form class="newTournament" action="/admin/divisions/new" method="post">
                <fieldset>
                    <legend>Información del torneo</legend>
                    <label class="newTournamentLabel">
                        Nombre:
                        <input  placeholder="Ingrese un nombre" name="name" type="text">
                    </label>
                    <label class="newTournamentLabel">
                        Torneo:
                        <select name="tournament"> 
                            <option value="">Seleccionar torneo</option>
                            <% for( let i = 0; i < consultTournament.length; i++ ) { %>
                                <option value="<%= consultTournament[i].tournaments.id %>"><%= consultTournament[i].tournaments.name %></option>
                            <% } %>
                        </select>
                    </label>
                    <input class="formSubmitTournament btnLink" value="Crear torneo" type="submit" />
                </fieldset>

            </form>
        </div>
    </section>
